<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body data-instant-intensity="viewport-all">
    <div class="col-lg-8 mx-auto p-3 py-md-5" id="app">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <h1 class="fs-4">Employee Scheduling</h1>
            </a>
        </header>

        <main>
            <h2>Inputs</h2>
            <ul>
                <li v-for="employee in employees" :key="employee.id">
                    {{ employee.id }}
                </li>
            </ul>
            <div class="mb-5">
                <button @click="startSolving" class="btn btn-primary btn-lg px-4" :disabled="!isSolvingButtonActive">Start solving</button>
            </div>
            <hr class="col-3 col-md-2 mb-5">
        </main>
    </div>
</body>

</html>
